body{
    color: #252525;
    font-family: '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"';
    display: block;
    background: mintcream;
    margin: 0;
    line-height: 20px;
}

span{
    vertical-align: middle;
}

input[type=checkbox]{
    position: relative;
    top: 2px;
}

.click-btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #999, -1px -1px 1px #CCC;
    background: #66DDAA;
    line-height: 20px;
}

.click-btn:hover {
    background-color: #58bc9b;
}

.click-btn:active {
    box-shadow: -1px -1px 1px #999;
}

.container{
	margin: 15px;
}

.control-pannel{
    margin-top: 25px;
}

.filter-title, .filter-seller{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.filter-control{
    display: grid;
    grid-template-columns: 80px 310px;
    gap: 20px;
}

.misc-control{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 30px 10px 5px 10px;
}

.relate-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    background: snow;
}

.relate-link{
    padding: 5px 0px;
    color: #0081f2;
}
